[Unit]
Description=InspIRCd Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=inspircd
ExecStart=/usr/bin/inspircd --nofork
ExecReload=/bin/kill -HUP $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
