[Unit]
Description=InspIRCd Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=inspircd
ExecStart=/usr/libexec/inspircd/ircdutil start
ExecStop=/usr/libexec/inspircd/ircdutil stop
ExecReload=/usr/libexec/inspircd/ircdutil reload
PrivateTmp=true

[Install]
WantedBy=multi-user.target
